$color-black: #000;
$color-dark-grey: #333;
$color-white: #FFF;

$color-background: $color-dark-grey;
$color-text: $color-white;

$gutter: 10px;

$font-family-heading: 'Montserrat', sans-serif;
$font-family-body: 'Roboto', sans-serif;